body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  background-color: #ebebeb;
}

.loader-container {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.loader-container::before {
  position: absolute;
  content: "";
  background: #fff;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #555;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.8s linear infinite;
  animation: spin 1.8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: #fff;
  height: 85%;
  width: 90%;
  border-radius: 30px;
  border: 7px solid #f1f1f1;
  overflow: hidden;
  display: flex;
}

main {
  flex: 4;
}

aside {
  flex: 1;
  background-color: #fafafa;
}

main,
aside {
  padding: 20px;
}

.side-head-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.side-head-links a {
  text-decoration: none;
  color: #5d5d5d;
}

.side-head-links a:hover {
  color: #ababab;
}

.avatar-img {
  display: flex;
  justify-content: center;
}

.avatar-img div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover !important;
}

.user-name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 20px;
}

.user-job {
  font-weight: 100;
  text-align: center;
  margin-top: 0 !important;
  font-size: 14px;
}

header {
  margin-bottom: 30px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin-right: 50px;
}

header ul li a {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  
}

header ul li a:hover {
  color: #ababab;
}

.tab-active {
  border-bottom: 2px solid #313236;
}

.main-cards {
  display: flex;
  margin-bottom: 20px;
}

.main-card {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom right, #faf9fa, #fdfffe);
  box-shadow: 5px 5px 5px #f4f8fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-stories .story-card {
  margin-right: 20px;
}

.home-stories .story-card h2 {
  margin-bottom: 5px;
}

.home-stories .story-card h2 a {
  font-size: 18px;
}

.home-stories .story-card h3 {
  margin-bottom: 5px;
}

.main-card:last-child,
.home-stories .story-card:nth-of-type(2n) {
  margin-right: 0;
}

.main-card h3 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  color: #313236;
}

.home-stories {
  display: flex;
  flex-wrap: wrap;
}

.login-signup-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content h1 {
  font-size: 38px;
}

.page-content form {
  text-align: center;
}

.input-label-wrapper {
  position: relative;
  width: 350px;
  overflow: hidden;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: 45px;
  width: 100%;
  padding: 0;
  font-size: 12px;
  color: #444;
  border-bottom: 2px solid #313236;
  border-width: 0 0 2px;
  outline-style: none;
  font-weight: bold;
  font-size: 20px;
}

input:focus + .label-name .label-content,
input:valid + .label-name .label-content {
  transform: translateY(-100%);
  font-size: 12px;
}

input:focus + .label-name::after,
input:valid + .label-name::after {
  transform: translateX(0%);
}

.label-name {
  line-height: 1.71;
  color: #313236;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.label-name::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #868686;
  transform: translate(-100%);
  transition: all 0.3s ease;
}

.label-content {
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: all 0.3s ease;
}

button[type="submit"] {
  position: relative;
  border: 1px solid #313236;
  background: none;
  cursor: pointer;
  padding: 10px 25px;
  outline: none;
  border-radius: 5px;
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 600;
  font-size: 16px;
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(83, 88, 226, 0.1);
  transition: all 0.3s ease;
}


button[type="submit"]:hover::before,
button[type="submit"]:focus::before {
  top: 0;
  left: 0;
}

button[type="submit"]:active::before {
  background-color: rgba(83, 88, 226, 0.2);
}

.own-account-p a {
  text-decoration: none;
  color: #313236;
  font-weight: 700;
}

.own-account-p a:hover {
  color: #5d5d5d;
}

.text-area-wrapper {
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #313236;
  border-radius: 10px;
  outline: #868686;
  padding: 10px;
  resize: none;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
}

textarea:focus {
  border: 2px solid #868686;
}

.stories,
.single-story,
.home {
  overflow-y: auto;
  padding: 0 20px;
  height: 90%;
}

.stories::-webkit-scrollbar,
.single-story::-webkit-scrollbar,
.home::-webkit-scrollbar {
  width: 7px;
}

.stories::-webkit-scrollbar-track,
.single-story::-webkit-scrollbar-track,
.home::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.stories::-webkit-scrollbar-thumb,
.single-story::-webkit-scrollbar-thumb,
.home::-webkit-scrollbar-thumb {
  background: #888; 
}

.stories::-webkit-scrollbar-thumb:hover,
.single-story::-webkit-scrollbar-thumb:hover,
.home::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.story-card {
  background-color: #fafafa;
  height: 100px;
  border-radius: 60px 20px 20px 20px;
  padding: 15px 20px;
  display: flex;
  margin-bottom: 20px;
}

.story-avatar {
  height: 100%;
  width: 120px;
  margin-right: 40px;
}

.story-avatar div {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  border-radius: 40px 10px 10px 10px;
}

.card-content,
.home-stories .story-card {
  flex: 1;
}

.card-content h2,
.card-content h3 {
  margin: 0;
  line-height: 20px;
  font-weight: 600;
}

.card-content h2 a {
  text-decoration: none;
  color: #313236;
  font-size: 22px;
}

.card-content h2 a:hover {
  color: #868686;
}

.card-content h3 {
  font-weight: 400;
  font-size: 14px;
  color: #868686;
  line-height: 10px;
}

.card-content-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-box div span {
  margin-right: 40px;
}

.comments h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.comment-box {
  margin-bottom: 30px;
}

.single-comment {
  background-color: #fff;
  padding: 10px 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 #d9d9d9;
}

.single-comment h3,
.single-comment h4 {
  margin: 0;
  font-weight: 600;
  line-height: 20px;
}

.single-comment h4 {
  color: #ababab;
  font-size: 14px;
}

.avatar-wrapper-edit {
  margin-bottom: 20px;
}

.avatar-wrapper-edit .avatar-img div {
  position: relative;
  cursor: pointer;
  height: 140px;
  width: 140px;
  border: 2px solid #e6e6e6;
}

.custom-file-input:hover::before {
  content: "Edit";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-file-input {
  color: transparent;
  position: absolute;
  z-index: 1;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  outline: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: '';
  display: inline-block;
  background: transparent;
  -webkit-user-select: none;
  cursor: pointer;
  height: 140px;
  width: 140px;
}

.head-title-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart img {
  width: 40px;
  cursor: pointer;
}