body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  background-color: #ebebeb;
}

.loader-container {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.loader-container::before {
  position: absolute;
  content: "";
  background: #fff;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #555;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.8s linear infinite;
  animation: spin 1.8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: #fff;
  height: 85%;
  width: 90%;
  border-radius: 30px;
  border: 7px solid #f1f1f1;
  overflow: hidden;
  display: flex;
}

/* .app::-webkit-scrollbar {
  width: 5px;
}

.app::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.app::-webkit-scrollbar-thumb {
  background: #888; 
}

.app::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

main {
  flex: 4;
}

aside {
  flex: 1;
  background-color: #fafafa;
}

main,
aside {
  padding: 20px;
}

.side-head-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.side-head-links a {
  text-decoration: none;
  color: #5d5d5d;
}

.side-head-links a:hover {
  color: #ababab;
}

.avatar-img {
  display: flex;
  justify-content: center;
}

.avatar-img div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover !important;
}

.user-name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 20px;
}

.user-job {
  font-weight: 100;
  text-align: center;
  margin-top: 0 !important;
  font-size: 14px;
}

header {
  margin-bottom: 30px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin-right: 50px;
}

header ul li a {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  
}

header ul li a:hover {
  color: #ababab;
}

.tab-active {
  border-bottom: 2px solid #313236;
}

.main-cards {
  display: flex;
}

.main-card {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  background-color: #fafafa;
}

.main-card:last-child {
  margin-right: 0;
}

.main-card h3 {
  font-weight: 100;
}

.login-signup-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-page-content h1 {
  font-size: 38px;
}

form {
  text-align: center;
}

.input-label-wrapper {
  position: relative;
  width: 350px;
  overflow: hidden;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: 45px;
  width: 100%;
  padding: 0;
  font-size: 12px;
  color: #444;
  border-bottom: 2px solid #313236;
  border-width: 0 0 2px;
  outline-style: none;
  font-weight: bold;
  font-size: 20px;
}

input:focus + .label-name .label-content,
input:valid + .label-name .label-content {
  transform: translateY(-100%);
  font-size: 12px;
}

input:focus + .label-name::after,
input:valid + .label-name::after {
  transform: translateX(0%);
}

.label-name {
  line-height: 1.71;
  color: #313236;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.label-name::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #868686;
  transform: translate(-100%);
  transition: all 0.3s ease;
}

.label-content {
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: all 0.3s ease;
}

button[type="submit"] {
  position: relative;
  border: 1px solid #313236;
  background: none;
  cursor: pointer;
  padding: 10px 25px;
  outline: none;
  border-radius: 5px;
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 600;
  font-size: 16px;
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(83, 88, 226, 0.1);
  transition: all 0.3s ease;
}


button[type="submit"]:hover::before,
button[type="submit"]:focus::before {
  top: 0;
  left: 0;
}

button[type="submit"]:active::before {
  background-color: rgba(83, 88, 226, 0.2);
}

.own-account-p a {
  text-decoration: none;
  color: #313236;
  font-weight: 700;
}

.own-account-p a:hover {
  color: #5d5d5d;
}